div.login-form-container{
    top:0;
    height: 100vh;
    width: 100vw;
}
div.login-form-container div.login-form-body{
    width: 350px;
}

div.login-form-container div.note{
    background-color: #222;
    color: whitesmoke;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}
div.login-form-container div.note p{
    font-weight: 200;
}
div.login-form-container div.note p>svg{
    margin-left: 5px;
}